[contenteditable]:focus {
  outline: 0px solid transparent;
}


.document-editor {
 
}

.content-editor {
  border: 3px solid #e0e0e0;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  background-color: #efefef;
  color: #444;
  &.is-editing {
    color: #000;
    border: 3px solid #fff;
    background-color: #fff;
  }
}
