# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ae159cae73b5650fa7cf2c884b833ddd4b5e6bc63634cd746cb0469c7bd18a8ffdabf1ef1af93ab41b7d8d954b83718695b96df0f4c896c0ef7f13bd419a3c02

test:
  secret_key_base: bdaab888a769146668391ac429fa8a7d19cbab1db3fed28cedf75b4d38d460ec6c7649a1ff1832910783c4e8ee3aa82e831c552260a92598e04329a5945346a8

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
